<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div>
              <p class="mb-0">Ooops... Not Found...  <a routerLink="../" class="text-white-50 fw-bold">Go Back</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
