<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <div class="mb-md-5 mt-md-4 pb-5">

            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-white-50 mb-5">Please enter your login and password!</p>

            <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
              <div class="form-outline form-white mb-4">
                <input formControlName="email" type="email" id="typeEmailX" class="form-control form-control-lg"/>
                <label class="form-label" for="typeEmailX">Email</label>
                <p *ngIf="this.loginForm.get('email')?.invalid && this.loginForm.get('email')?.touched"><small class="text-danger">Email is required</small></p>
              </div>

              <div class="form-outline form-white mb-4">
                <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg"/>
                <label class="form-label" for="typePasswordX">Password</label>
                <p *ngIf="this.loginForm.get('password')?.invalid && this.loginForm.get('password')?.touched"><small class="text-danger">Password is required (min. length = 8)</small></p>
              </div>
              <button [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
          </div>
          <div>
            <p class="mb-0">Don't have an account? <a routerLink="../registration" class="text-white-50 fw-bold">Sign Up</a></p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

